{% extends 'base.html' %}
{%block content%}
<h1 class="h3">
    {{post.title}}
</h1>
<div class="d-flex justify-content-between">
    <span>Author: {{post.category.author.name}} </span>
    <span>category: <a href="{% url 'category_details' post.category.slug %}">{{post.category.name}}</a></span>
    <span>updated: {{post.updated | timesince }}</span>
</div>
<div class="my-3">
    <p>{{post.body}}</p>
</div>

<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <h2 class="h5 text-center">About Author
            </h2>
            <div class="col-md-4">
                <img src="https://picsum.photos/300/200" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">

                    <h5 class="card-title">{{post.category.author.name}}</h5>
                    <p class="card-text">{{post.category.author.bio}}</p>
                </div>
            </div>
        </div>
    </div>

</div>



{%endblock%}